body {
    background-color: white;
    font-family: sans-serif;

}
h1,h2 {
    margin: 20px;
    color: black;
    font-weight: bold;
}

div {
    margin: 20px;
    color: black;
}

p {
    margin: 20px;
    color: black;
}
